version: "3.9"

services:
  fastapi:
    build: .
    container_name: fastapi_app
    ports:
      - "127.0.0.1:8000:8000"
    env_file:
      - /home/pritish/.env
    restart: always
  
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: wildwest
      POSTGRES_DB: fastapi
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"

volumes:
  pgdata:
